#app {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.inventory-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
}

.inventory-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

ul {
	list-style: none;
}
